*
{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: f2f3f7;
}

.wadah
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wadah .card
{
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
                -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
}

.wadah .card .isi
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.wadah .card .isi .isibx
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.wadah .card .isi .isibx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}